samples/BlueMix/nodered.app
[{"id":"b3cf47dd.4c30b8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"1","name":""},{"id":"26a2dad.fd95d26","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"YOUR.DEVICE.ID","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":true,"allFormats":false,"x":103,"y":125,"z":"6b74332.f948bcc","wires":[["bd8509f7.427af8"]]},{"id":"bd8509f7.427af8","type":"function","name":"Forward individual temps","func":"return msg.payload.d.temperature;","outputs":"3","x":382,"y":124,"z":"6b74332.f948bcc","wires":[["e957602d.709e2"],["e957602d.709e2"],["e957602d.709e2"]]},{"id":"180b164c.e7f4ea","type":"http in","name":"REST: Read temperature","url":"/temperature","method":"get","x":134.99998474121094,"y":192,"z":"6b74332.f948bcc","wires":[["1d260c4f.e2d9f4"]]},{"id":"4e104b64.b1efb4","type":"http response","name":"Return DB data","x":908.0000610351562,"y":189.99998474121094,"z":"6b74332.f948bcc","wires":[]},{"id":"8608e0df.79f72","type":"function","name":"Force output to JSON","func":"msg.headers = { \"Content-Type\" : \"Application/json\" };\nreturn msg;","outputs":1,"x":663,"y":190.99998474121094,"z":"6b74332.f948bcc","wires":[["4e104b64.b1efb4"]]},{"id":"1d260c4f.e2d9f4","type":"mongodb in","service":"Your-Mongo-Service","mongodb":"","name":"Get all temperatures","collection":"temperature","x":371,"y":191.99998474121094,"z":"6b74332.f948bcc","wires":[["8608e0df.79f72"]]},{"id":"d515d388.2aea3","type":"mongodb out","service":"Your-Mongo-Service","mongodb":"","name":"Store Temperatures","collection":"temperature","payonly":false,"operation":"store","x":921,"y":123.99998474121094,"z":"6b74332.f948bcc","wires":[]},{"id":"e68b769.e227508","type":"http in","name":"REST: Store photo","url":"/photo","method":"post","x":111.19999694824219,"y":327.20001220703125,"z":"6b74332.f948bcc","wires":[["445ce7ec.6d955"]]},{"id":"e4a15c6.f1b5ea","type":"http response","name":"Respond OK","x":902,"y":260,"z":"6b74332.f948bcc","wires":[]},{"id":"ac112f72.53eed","type":"mongodb out","service":"Your-Mongo-Service","mongodb":"","name":"Store Photo","collection":"photos","payonly":true,"operation":"store","x":897,"y":327,"z":"6b74332.f948bcc","wires":[]},{"id":"ecccf338.13331","type":"function","name":"Set response to \"OK\"","func":"msg.payload={ 'response': 'OK' };\nreturn msg;\n","outputs":1,"x":661,"y":260,"z":"6b74332.f948bcc","wires":[["e4a15c6.f1b5ea"]]},{"id":"445ce7ec.6d955","type":"function","name":"Update timestamp & fix ID","func":"msg.payload.timestamp = new Date();\nmsg.payload._id = 31415926535;\nreturn msg;","outputs":1,"x":389,"y":330,"z":"6b74332.f948bcc","wires":[["ac112f72.53eed","ecccf338.13331"]]},{"id":"e957602d.709e2","type":"function","name":"Update timestamp","func":"msg.date = new Date();\nreturn msg;","outputs":1,"x":659,"y":125,"z":"6b74332.f948bcc","wires":[["d515d388.2aea3"]]},{"id":"a990f48c.0ab758","type":"http in","name":"REST: Read photo","url":"/photo","method":"get","x":113,"y":266,"z":"6b74332.f948bcc","wires":[["7998942a.167104"]]},{"id":"7998942a.167104","type":"mongodb in","service":"Your-Mongo-Service","mongodb":"b3cf47dd.4c30b8","name":"Get all photos","collection":"photos","x":350,"y":265,"z":"6b74332.f948bcc","wires":[["8608e0df.79f72"]]}]
